div {
    border: 3px solid #cc99ff;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(45deg,#99ccffcc 0%,#cc99ffcc 50%,#ff9999cc 100%);
}

pre {
    margin: 0;
    padding: 0;
    color: white;
    pointer-events: none;
}

pre::selection {
    background-color: #0000ff;
    color: rgb(255, 255, 255);
}

#dd {
    background-color: #eee;
}
h1 {
    text-align: center;
    /* background-color: white; */
}
h2 {
    display: block;
}
input{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}
#input{
    display: none;
}
#enter{
    display: none;
}
#start{
    font-size: 24px
}
p{
    color: black;
    /*background-color: white;*/
}
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    z-index: -1;
    overflow: hidden;
}
    
#bgvid {
    display: none; /* hide until ready */
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    
    object-fit: cover; /* fills without stretching */
    border: none;
    background-color:#cc99ff;
}