body{
    margin:0;
}
.h{
    width: 100%;
    position: static;
    background-color: #ffffff;
    border-bottom: #333 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .hbtn{
        background-color: transparent;
        border-radius: 3px;
        border: black 2px solid;
        width: 4rem;
        height: 2rem;
    }
}
.h > a{
    font-size: 36px;
    color: #000;
    margin: 20px;
}
.h > div{
    margin: 20px;
}
div.blue_btn{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
button.blue_btn{
    color: blue;
    background-color: transparent;
    border: blue 3px solid;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    width: 6rem;
    height: 2rem;
}