button.tab{
    display: inline-block;
    margin: 10px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    width: 7rem;
    cursor: pointer;
}
.tabs{
    display: flex;
    justify-content: center;
    margin: 10px;
}
h1#clock{
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#timer{
    display: block;
}

#cntdn{
    display: none;
}
.cd_in{
    font-size: 30px;
    font-family: Arial, sans-serif;
    max-width: 10rem;
    margin: 10px;
}
.cd_in::placeholder{
    color: #ccc
}
#cntdn .cntdn{
    display: flex;
    justify-content: center;
}
.cd_btn{
    margin: 10px;
    background-color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    width: 7rem;
}
#cd_reset{
    border: 2px solid #999;
    background-color: #ccc;
    border-radius: 5px;
    opacity: 0.5;
    cursor: not-allowed;
}
#cd_start{
    border: 2px solid #9f9;
    background-color: #cfc;
    border-radius: 5px;
    cursor: pointer;
}